<h2 class="text-center">Student List</h2>
<div class="container">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>
        Student Name
      </mat-label>
      <input formControlName="id" name="id" matInput type="number" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <!-- <mat-option *ngFor="let candi of dataSource" [value]="candi">
            {{candi.studentName}}
          </mat-option> -->
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Course</th>
      <th scope="col">College</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candi of dataSource">
      <td>{{candi.id}}</td>
      <td>{{candi.studentName}}</td>
      <td>{{candi.email}}</td>
      <td>{{candi.address}}</td>
      <td>{{candi.course1.course}}</td>
      <td>{{candi.course1.college}}</td>
      <!-- <td>{{candi.studentId}}</td> -->
      <!-- <input type="checkbox" id="id" (click)="onclick(candi.id)"> -->
      <mat-checkbox (change)="onclick($event,candi.id)"></mat-checkbox>

      <!-- <label class="chip" for="job+{{candi.id}}">{{candi.id}}</label> -->

      <!-- <mat-checkbox class="example-margin" clip></mat-checkbox> -->
      <button type="submit" class="btn btn-outline-success" (click)="update(candi.id)">Update</button>
      <button class="btn btn-outline-danger" style="margin-left: 10px;" type="submit"
        (click)="delete(candi.id)">Delete</button>


    </tr>

  </tbody>

</table>
<button class="btn btn-outline-danger" style="margin-left: 10px;" type="submit"
  (click)="DeleteByChosing()">DeleteByChosing</button>